.main-container {
	display: grid;
	place-items: center;
	text-align: center;
	grid-template-rows: repeat(3, 90px) 1fr;

}

.board {
	display: grid;
	grid-template: repeat(3, 100px) / repeat(3, 100px);
	gap: 10px;
}

.cell {
	background-color: gray;
	height: auto;
	width: auto;
	text-align: center;
	font-size: 72px;
	padding-top: 10px;
	border-radius: 5px;
}

.stats {
	display: grid;
	column-gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

#game-result{
	grid-column: 1/3;
}